@model DAI.Models.ParticipantsTrafficAccident

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ParticipantsTrafficAccident</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Серія)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Серія)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.МаркаАвто)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.МаркаАвто)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.НомерTrafficAccidentNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.НомерTrafficAccidentNavigation.НомерTrafficAccident)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.НомерАвтоNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.НомерАвтоNavigation.КодАвто)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ТипМашиниNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ТипМашиниNavigation.КодЗапису)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="НомерЗапису" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
