@model DAI.Models.Car

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.НомернийЗнак)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.НомернийЗнак)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Серія)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Серія)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.МаркаАвтомобіля)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.МаркаАвтомобіля)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ДатаВипуску)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ДатаВипуску)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ОбємДвигуна)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ОбємДвигуна)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.НомериДвигуна)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.НомериДвигуна)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Шасі)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Шасі)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Кузов)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Кузов)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Колір)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Колір)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ДатаОстанньогоТехогляду)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ДатаОстанньогоТехогляду)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.КатегоріяNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.КатегоріяNavigation.КодЗапису)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.КодАвто">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
